<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.datetime_field :dob %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, autocomplete: "off" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
