<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<div data-controller="tablesearch">
<input type="search" data-action="input->tablesearch#search" placeholder="First or Last name">
<table class="table-with-borders">
  <thead>
    <tr>
      <th data-action="click->tablesearch#sort">First Name</th>
      <th data-action="click->tablesearch#sort">Last Name</th>
      <th>Date of Birth</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td data-tablesearch-target="cell"><%= employee.first_name %></td>
        <td data-tablesearch-target="cell"><%= employee.last_name %></td>
        <td><%= employee.dob.strftime("%Y-%m-%d") %></td>
        <td><%= employee.country %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.email %></td>
        <td>
          <%= link_to "Show", employee %>
          <%= link_to "Edit", edit_employee_path(employee) %>
          <%= button_to "Destroy", employee, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
