<p style="color: green"><%= notice %></p>

<%= Time.zone.now %>

<h1>
  Employees
  <%= content_tag :span, @employees.count, id: "counter" %>
</h1>

<div id="employees">
  <% @employees.each do |employee| %>
    <%= render employee %>
  <% end %>
</div>

<%= link_to "New employee", new_employee_path %>
