<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<%#= link_to "New employee", new_employee_path %>

<%= form_with url: employees_path, method: :get, data: {turbo_action: "advance", turbo_frame: :employees_list } do |form| %>
  <%= form.label :query %>
  <%= form.text_field :query, oninput: "this.form.requestSubmit()", autofocus: true %>
  <%#= form.select :country, ["Ukraine", "France"], {}, onchange: "this.form.requestSubmit()" %>
<% end %>

<%= turbo_frame_tag :employees_list do %>
  <table class="table-with-borders">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= highlight employee.first_name, params[:query] %></td>
          <td><%= highlight employee.last_name, params[:query] %></td>
          <td><%= employee.dob.strftime("%Y-%m-%d") %></td>
          <td><%= employee.country %></td>
          <td><%= employee.phone %></td>
          <td><%= highlight employee.email, params[:query] %></td>
          <td>
            <%= link_to "Show", employee %>
            <%= link_to "Edit", edit_employee_path(employee) %>
            <%= button_to "Destroy", employee, method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
