<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<div id="employees">
  <% @employees.each do |employee| %>
    <details>
      <summary>
        <%= employee.first_name %>
        <%= employee.last_name %>
      </summary>
      <%= turbo_frame_tag employee, target: "_top", loading: :lazy, src: employee_path(employee) do %>
        Loading...
      <% end %>
    </details>
    <hr>
  <% end %>
</div>

<%= link_to "New employee", new_employee_path %>
