<div id="<%= dom_id board %>">
  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= board.last_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= board.city %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= board.color %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= board.animal %>
  </p>

  <p>
    <strong>Fruit:</strong>
    <%= board.fruit %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= board.employee_id %>
  </p>

</div>
