<!DOCTYPE html>
<html>
  <head>
    <title>Railsworld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Dashboard', dashboard_path %>
    <%= link_to 'Employees', employees_path %>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
  </body>
</html>
