<!DOCTYPE html>
<html>
  <head>
    <title>Railsworld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id='foo' data-turbo-permanent="true">
      <%= audio_tag 'sample-15s', controls: true %>
    </div>
    <div id='bar' data-turbo-permanent="true">
      <%= video_tag 'sample-5s', controls: true, width: '500px' %>
    </div>
    <%= link_to 'Dashboard', dashboard_path %>
    <%= link_to 'Employees', employees_path %>
    <%= yield %>
  </body>
</html>
